<!DOCTYPE html>
<html>
<head>
	<title>Hobbies</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Latest compiled JavaScript -->

	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
<div id="todo-table">
	<form>
		<input type="text" name="item" max-width="10" placeholder="Add new item.." required/>
		<button type="submit">add item</button>
	</form>
	<!--this code below is where the list proceed ie there below is also an unordered list-->
	<ul><!--this section shows the list of items -->
		<%
		 for (var i =0; i < todos.length; i++){ %>
		<li id="cursive"><%= todos[i].item %></li>
	<% } %>
	</ul>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script src="/jquery.min.js"></script>-->
<script src="/assets/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		  //var list =$("#cursive").val();
	</script>
	<script type="text/javascript">
	$(document).ready(function(){
    $('input').focus(function() {
        $(this).val('');
      });
  $('form').on('submit', function(){

      var item = $('form input');
      var todo = {item: item.val()};
     // console.log(todo);

      $.ajax({
        type: 'POST',
        url: '/todo',
        data:todo,
        success: function(data){
          //do something with the data via front-end framework
          location.reload();
        }
      });

      return false;

  });

  $('li').on('click', function(){
      var item = $(this).text().replace(/ /g, "-");
      $.ajax({
        type: 'DELETE',
        url: '/todo/' + item,  //
        success: function(data){
          //do something with the data via front-end framework
          location.reload();
        }
      });
  });

});
	</script>
</body>
</html>
