<!--this is the reply page after sign up subbmit button is clicked-->
<!DOCTYPE html>
<html>
<head><title></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
	<style type="text/css">
	body, html {
  background: #DEDAE8;
  width:100%;
  padding:3% 0;
  margin:0;
  font-family: 'Open Sans Condensed', sans-serif;
}

svg {
  width: 100%;
}

.card {
  background: #eee;
  box-shadow: 0 44px 23px -41px #cdcee6;
  padding: 30px;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin: 0 auto;
  position:relative;
}

#form {
  opacity:0;
  position: relative;
  top:53%;
  width: 90%;
  margin: 0 auto
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 46px;
  text-align: center;
}

input {
  border-top: 0;
  border-bottom: 2px solid #ddd;
  border-left: 0;
  border-right: 0;
  color: #bbb;
  font-size: 16px;
  margin: 0 0 23px;
  padding: 0 0 10px;
  width: 100%;
}

button {
  background: #22D29D;
  padding: 15px 40px;
  width: 100%;
  font-size: 18px;
  color: white;
  border: 0 none;
  border-radius: 50px;
  font-family: Open Sans;
  margin: 10px 0 0;
  transform: all 3s ease;
}

button:hover {
  background: #1AB884;
}
	</style>
</head>
<body>

	<div class="card">

	  <svg id="scene" xmlns="http://www.w3.org/2000/svg" width="524px" height="695px" viewBox="-83.454 -51.5 524 695" >
		    <circle id="circle" fill="#76C6FB" cx="178.546" cy="258.418" r="153.195"/>
    		<g id="clouds">
        <path opacity="0.4" fill="#F4F6FA" d="M145.247,137.077H73.165c0,0-3.693,0.295-3.693,4.431c0,4.136,3.693,4.727,3.693,4.727
        h15.214c0,0,2.511,0.591,2.511,4.431c0,3.841-2.807,5.022-2.807,5.022h-6.647c0,0-3.988,0.443-3.988,4.136
        c0,3.692,3.545,5.021,3.545,5.021h47.267c0,0,3.102-0.886,3.102-4.284c0-3.397-3.397-4.726-3.397-4.726h-23.338
        c0,0-2.954-0.591-2.954-4.875c0-4.284,3.25-4.432,3.25-4.432l40.03-0.147c0,0,5.022,0,5.022-4.875S145.247,137.077,145.247,137.077
        z"/>
        <path opacity="0.4" fill="#F4F6FA" d="M232.839,167.8h72.083c0,0,3.692,0.295,3.692,4.431c0,4.136-3.692,4.727-3.692,4.727h-15.215
        c0,0-2.511,0.591-2.511,4.432c0,3.84,2.807,5.022,2.807,5.022h6.646c0,0,3.989,0.443,3.989,4.136c0,3.692-3.546,5.022-3.546,5.022
        h-47.267c0,0-3.103-0.886-3.103-4.284c0-3.397,3.397-4.727,3.397-4.727h23.338c0,0,2.955-0.591,2.955-4.875s-3.25-4.431-3.25-4.431
        l-40.03-0.147c0,0-5.021,0-5.021-4.875C228.113,167.357,232.839,167.8,232.839,167.8z"/>
        <line fill="none" stroke="#232323" stroke-width="1.7725" stroke-miterlimit="10" x1="39.486" y1="179.174" x2="68.585" y2="179.174"/>
        <line fill="none" stroke="#232323" stroke-width="1.7725" stroke-miterlimit="10" x1="244.116" y1="130.971" x2="308.615" y2="130.971"/>
        <path fill="none" stroke="#232323" stroke-width="1.7725" stroke-miterlimit="10" d="M263.811,126.638h59.427
        c0,0,3.213-1.046,3.213-4.37c0-3.324-3.322-4.284-3.322-4.284h-6.352"/>
        <line fill="none" stroke="#232323" stroke-width="1.7725" stroke-miterlimit="10" x1="26.931" y1="183.753" x2="56.03" y2="183.753"/>
        <line fill="none" stroke="#232323" stroke-width="1.4119" stroke-miterlimit="10" x1="43.327" y1="187.593" x2="61.791" y2="187.593"/>
        <line fill="none" stroke="#232323" stroke-width="1.7725" stroke-miterlimit="10" x1="314.265" y1="117.985" x2="310.24" y2="117.985"/>
    </g>
    <g id="cloudsTop">
      <path opacity="0.2" fill="#ADADAD" d="M116.327,43.032H37.188c0,0-4.054,0.324-4.054,4.865s4.054,5.189,4.054,5.189h16.704
				      c0,0,2.756,0.648,2.756,4.865c0,4.216-3.081,5.513-3.081,5.513H46.27c0,0-4.378,0.487-4.378,4.541s3.892,5.514,3.892,5.514h51.894
				      c0,0,3.405-0.973,3.405-4.703c0-3.73-3.729-5.19-3.729-5.19H71.73c0,0-3.243-0.648-3.243-5.351c0-4.703,3.568-4.865,3.568-4.865
				      l43.947-0.162c0,0,5.514,0,5.514-5.352S116.327,43.032,116.327,43.032z"/>
      			<path opacity="0.2" fill="#ADADAD" d="M345.309,12.533H266.17c0,0-4.055,0.325-4.055,4.865s4.055,5.189,4.055,5.189h16.703
				      c0,0,2.757,0.648,2.757,4.865c0,4.217-3.081,5.514-3.081,5.514h-7.298c0,0-4.379,0.486-4.379,4.541s3.893,5.514,3.893,5.514h51.894
				      c0,0,3.406-0.973,3.406-4.703c0-3.73-3.73-5.189-3.73-5.189h-25.622c0,0-3.243-0.649-3.243-5.352c0-4.703,3.567-4.865,3.567-4.865
				      l43.948-0.162c0,0,5.514,0,5.514-5.352S345.309,12.533,345.309,12.533z"/>
				      <circle opacity="0.2" fill="none" stroke="#ADADAD" stroke-width="1.946" stroke-miterlimit="10" cx="-15.382" cy="117.414" r="2.105"/>
      				<circle opacity="0.2" fill="none" stroke="#ADADAD" stroke-width="1.946" stroke-miterlimit="10" cx="213.384" cy="32.87" r="2.105"/>
      			<circle opacity="0.2" fill="#ADADAD" cx="258.358" cy="67.033" r="2.722"/>

      				<circle opacity="0.2" fill="none" stroke="#ADADAD" stroke-width="1.946" stroke-miterlimit="10" cx="387.3" cy="96.713" r="2.105"/>
			      <path opacity="0.2" fill="#ADADAD" d="M32.961,84.302c0,0-1.036,1.669-1.036,1.9c0,0.23,0,2.187,0,2.187h-2.173
				      c0,0-1.857,0.575-1.857,0.806s1.814,1.094,1.857,1.094c0.043,0,2.115,0.288,2.115,0.288v2.245c0,0,0.863,1.727,1.094,1.784
				      c0.23,0.058,1.036-1.612,1.094-1.842c0.058-0.23,0-2.188,0-2.188l2.245-0.116c0,0,2.072-0.747,2.072-1.006
				      s-1.785-1.123-2.072-1.181c-0.288-0.057-2.417-0.057-2.417-0.057l0.057-2.188L32.961,84.302z"/>
			      <path opacity="0.2" fill="#ADADAD" d="M357.221,142.107c0,0,0.557,2.485,0.766,2.699c0.209,0.213,1.985,2.024,1.985,2.024
          l-2.01,1.973c0,0-1.197,2.218-0.988,2.431c0.21,0.213,2.671-0.634,2.711-0.673c0.04-0.039,2.221-1.654,2.221-1.654l2.037,2.078
          c0,0,2.368,0.814,2.632,0.659c0.266-0.156-0.504-2.433-0.661-2.698c-0.153-0.266-1.984-2.024-1.984-2.024l1.973-2.145
          c0,0,1.24-2.573,1.004-2.813c-0.235-0.24-2.671,0.581-2.989,0.789s-2.29,2.141-2.29,2.141l-1.932-2.077L357.221,142.107z"/>
      <path opacity="0.2" fill="#ADADAD" d="M335.334,59.775c0,0-1.458,2.352-1.458,2.676s0,3.081,0,3.081h-3.062
          c0,0-2.614,0.811-2.614,1.135c0,0.325,2.553,1.541,2.614,1.541c0.061,0,2.979,0.405,2.979,0.405v3.162c0,0,1.216,2.432,1.54,2.514
          c0.325,0.081,1.46-2.27,1.541-2.595c0.081-0.324,0-3.081,0-3.081l3.162-0.162c0,0,2.919-1.052,2.919-1.418
          c0-0.366-2.513-1.582-2.919-1.663c-0.404-0.081-3.405-0.081-3.405-0.081l0.081-3.081L335.334,59.775z"/>
		    </g>
		    <g id="castle">
        <path fill="#7C4462" d="M298.605,179.867l54.771,1.245l-59.774-18.105l-7.386,46.242l-33.926,47.441l10.807,1.342l-6.156,38.808
        c-10.377-1.381-22.273-2.762-34.398-3.75l6.031-75.422h21.411l-55.531-50.598v-31.586l54.276-7.412l-61.878-8.455v0.004v47.448
        l-55.53,50.598h21.411l6.03,75.422c-12.125,0.988-24.021,2.369-34.396,3.75l-6.158-38.808l10.807-1.342l-33.997-47.541
        l-4.866-30.483l52.43-15.879l-62.433,1.416l0.001,0.003h-0.004l7.118,44.619l-21.888,55.759l14.798-1.837l22.932,144.42
        c9.376-1.508,22.933-3.51,37.958-5.169c8.438-0.938,17.332-1.762,26.201-2.345c3.092-0.189,6.183-0.354,9.248-0.481
        c4.79-0.215,9.541-0.329,14.14-0.329c4.599,0,9.351,0.114,14.14,0.329c3.064,0.128,6.156,0.292,9.248,0.481
        c8.869,0.583,17.764,1.407,26.199,2.345c15.027,1.659,28.584,3.661,37.959,5.169l22.932-144.42l14.799,1.837l-21.928-55.86
        L298.605,179.867z"/>
        <path fill="#AA6186" d="M120.59,345.617l-6.246-39.263l-0.114,0.012c-0.621-3.598-3.75-6.347-7.525-6.347
        c-4.232,0-7.652,3.434-7.652,7.652c0,0.798,0.127,1.571,0.342,2.293l5.968,37.541L120.59,345.617z M124.367,296.84l16.697,105.157
        c-15.025,1.659-28.582,3.661-37.958,5.169l-22.932-144.42l38.034-4.713L124.367,296.84z M152.733,217.667l6.03,75.422
        l8.451,105.752l0.051,0.811c3.092-0.189,6.183-0.354,9.248-0.481c4.79-0.215,9.541-0.329,14.14-0.329
        c4.599,0,9.351,0.114,14.14,0.329c3.065,0.128,6.156,0.292,9.248,0.481l0.051-0.811l8.451-105.752l6.031-75.422H152.733z
         M183,291.645v-40.998c0-4.219,3.434-7.652,7.652-7.652c4.22,0,7.653,3.433,7.653,7.652v40.998v0.102
        c-2.586-0.076-12.721-0.076-15.306,0L183,291.645L183,291.645z M256.941,296.84l6.156-38.808l38.033,4.713l-22.932,144.42
        c-9.375-1.508-22.932-3.51-37.959-5.169L256.941,296.84z M275.945,347.506l5.969-37.541c0.215-0.722,0.34-1.495,0.34-2.293
        c0-4.219-3.42-7.652-7.651-7.652c-3.774,0-6.905,2.749-7.524,6.347l-0.113-0.012l-6.248,39.263L275.945,347.506z"/>
        <path fill="#F89B48" stroke="#F89B48" stroke-width="0.25" d="M142.582,162.786L82.807,180.89l-2.66-16.686L142.582,162.786z
         M186.852,119.621v16.901l61.878-8.45L186.852,119.621z M293.602,163.007l-2.66,16.686l62.435,1.419L293.602,163.007z"/>
         <path fill="#F89B48" d="M190.653,332.378c14.152,0,23.438,14.088,14.152,66.464l-0.013,0.329c-4.79-0.215-9.542-0.329-14.141-0.329
        c-4.599,0-9.35,0.114-14.14,0.329l-0.012-0.329C167.214,346.466,176.501,332.378,190.653,332.378z"/>
        <path fill="#52899D" d="M89.93,202.033l39.085,54.657l-10.807,1.342l-38.034,4.713l-14.798,1.837L89.93,202.033z M249.985,217.667
        l-59.332-54.061l-59.331,54.061h21.411h75.841H249.985z M315.929,264.583l-24.553-62.55l-39.086,54.657l10.807,1.342l38.033,4.713
        L315.929,264.583z"/>
        <path fill="#A55E82" d="M118.208,258.031l1.471,9.25l-38.07,4.46l-1.43-9L118.208,258.031z M153.458,226.841l74.4-0.29l0.71-8.88
        h-75.84L153.458,226.841z M263.099,258.031l-1.7,10.7l38.05,4.57l1.68-10.56L263.099,258.031z"/>
    </g>
  	</svg>
    
    
      <span>
      <form id="form" method="" action="/todo1">
        <ul style="margin-top:80px">
          <li><button id="todo" class="fa fa-send">click to proceed</button></li>
        </ul>
      </form>
      </span>
        
        
        

   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
	<script type="text/javascript">
	const select = function(s) {
    return document.querySelector(s);
  },
    selectAll = function(s) {
    return document.querySelectorAll(s);
  },
    scene = select('#scene'),
    castle = select('#castle'),
    clouds = select('#clouds'),
    circle = select('#circle');

TweenMax.set('.card, #scene', {
  position: 'absolute',
  top: '50%',
  left: '50%',
  xPercent: -50,
  yPercent: -50
})

TweenMax.set(castle, {

  scaleX:0,
  transformOrigin:"0% 100%"
})

TweenMax.set(clouds, {
  alpha:0,
  x: -20,
  transformOrigin:'50% 50%'
})

TweenMax.set('#cloudsTop', {
  alpha:0,
  transformOrigin:'50% 50%'
})

const tl = new TimelineMax({repeat:0, repeatDelay:1})

tl
  .from(circle, 1, {
  scale:0,
  transformOrigin:'50% 50%',
  ease:Elastic.easeOut.config(0.3, 0.3)
})
  .to(castle, 0.85, {
  scaleX:1,
  transformOrigin:"5% 100%",
  ease:Elastic.easeOut.config(0.5, 0.8)
})
  .to(clouds, 1, {
  alpha: 1,
  x: 10,
  ease:Elastic.easeOut.config(0.1, 0.4)
})
  .to(scene, 1, {
    y:-105,
    ease:Elastic.easeOut.config(0.1, 0.4)
  })
  .to(circle, 1, {
    y:10,
    ease:Elastic.easeOut.config(0.5, 0.8)
  }, '-=0.94')
  .to('#form, #cloudsTop', 0.8, {
    alpha:1,
  }, '-=0.5')

	</script>
</body>
</html>
