<!DOCTYPE html>
<html>
<head><title></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: #ccc;
}

.container{
padding: 20px;
width: 600px;
margin: 0 auto;
margin-top: 40px;
background: white;
border-radius: 5px;}

form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

#button{
display: inline-block;
background-color:#fc999b;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: #dfdfdf;}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
  background-color:#cdcee6;
 }

	</style>
</head>
<body>
	
    <div class="container">
    <h2 style="font-family: cursive">Hobbies</h2>
    <p><em>Click and drag to reorder, double click to cross an item off.</em></p>
       
    <form name="toDoList">
    <label class="fa fa-edit">edit if necessary</label>
      <input type="text" name="ListItem" />
    </form>
    
    <div id="button">Add</div>
    <br/>
    <ol></ol>
      
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(
    function(){
        $('#button').click(
            function(){
                var toAdd = $('input[name=ListItem]').val();
                 $('ol').append('<li>' + toAdd + '</li>');
            });
       
       $("input[name=ListItem]").keyup(function(event){
          if(event.keyCode == 13){
            $("#button").click();
          }         
      });
      
      $(document).on('dblclick','li', function(){
        $(this).toggleClass('strike').fadeOut('slow');   //this strikes the items out when you double click 
      });
      
      $('input').focus(function() {
        $(this).val('');
      });
      
      $('ol').sortable();  //sorts out the list orderly even when deleted unorderly
      
    }
);
    </script>
</body>
</html>